<!DOCTYPE html>
<html
>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="js/jquery.js"></script>
    <script src="js/login.js"></script>
    <script src="js/bootstrapjs.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/current.css"/>
    <link rel="stylesheet" href="css/login.css"/>
</head>
<body>
<div class="container vcenter">

    <div id="login" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p><input id="login-login" type="text" class="input-block-level" name="login" placeholder="Email address"/></p>
        <p><input id="password-login" type="password" class="input-block-level" name="password" placeholder="Password"/>
        </p>
        <button id="send-login" class="btn btn-large btn-primary" type="submit">Sign in</button>
    </div>


</div>
</body>
</html>