<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/loader.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/current.css"/>
    <script src="js/bootstrap.js"/>

    <script src="js/react.js"></script>
    <script src="js/react-dom.js"></script>
    <script src="js/browser.js"></script>
    <script type="text/babel" src="js/test.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>

</head>
<body>

<div id="header">

</div>

<div id="container" class="container">

</div>
<div id="container1" class="container">

</div>
<div id="placeholder" style="width: 100%; height: 500px" class="placeholder">

</div>


</body>


</html>